.Rproj.user
.Rhistory
.RData
.rda
.Ruserdata
.httr-oauth
.Rbuildignore
tfse.Rproj
congress.R
data
create.twitter.tokens.R
wave.data.script.R
get.wave.R
get.package.pdf.R
R/utility.functions.R
subset.filters.R
study
sublimedoc.R
study/sample.wave2.R
sample.wave2.R
study/filters.R
tt
.json
inst/doc
usr_sept.tweets.csv
usr_sept.users.csv
