.Rproj.user
.Rhistory
.RData
.rda
.Ruserdata
.httr-oauth
.Rbuildignore
tfse.Rproj
congress.R
data
create.twitter.tokens.R
wave.data.script.R
get.wave.R
get.package.pdf.R
R/utility.functions.R
subset.filters.R
study_data
